{% macro displayHeadlinesList(headlines_list) %}

    {% for headline in headlines_list%}
    <div class = "row*3">
        <div class = "col-xs-4 col-sm-4 col-md-4 headlines-card" id="cardheading">
            <h1 id="headingcard" class = "headline-title"><b>{{ headline.title|truncate (70) }}</b></h1>
                <img src = "{{headline.urlToImage}}" alt = "{{headline.title}} image" class = "img-responsive">
                <p>{{ headline.description|truncate(70)}}</p>
                <p><b>Published by</b> {{ headline.author}} <b>on</b> {{ headline.publishedAt}}</p>
                <a href = {{headline.url}}><button class = "btn btn-sm btn-danger">View Story</button></a>
        </div>
    </div>
    {% endfor %}
{% endmacro %}