<div class="container-fluid">

    <h1 id="pan">Pandora News</h1>



    <nav class="navbar-nav navbar-right">
        <div class="menu-icon">
            <i class="fa fa-bars"></i>
        </div>




        <div class="menu">
            <ul>

                <li><a class="nav-link" href="/"><i class="fa fa-home"></i></a></li>
                <li><a class="nav-link" href="/sources/General"><button type="button" class="btn btn-outline-light">News
                            Sources</button></a></li>
                <li><a class="nav-link" href="/sources/Business"><button type="button"
                            class="btn btn-outline-info">Business</button></a></li>
                <li><a class="nav-link" href="/sources/Entertainment"><button type="button"
                            class="btn btn-outline-info">Entertainment</button></a></li>
                <li><a class="nav-link" href="/sources/Technology"><button type="button"
                            class="btn btn-outline-info">Technology</button></a></li>
                <li><a class="nav-link" href="/sources/Science"><button type="button"
                            class="btn btn-outline-info">Science</button></a></li>
                <li><a class="nav-link" href="/sources/Sports"><button type="button"
                            class="btn btn-outline-info">Sports</button></a></li>
            </ul>
        </div>
    </nav>
</div>